* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #353535;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.button:hover {
  opacity: .9;
  cursor: pointer;
}